# Pandas Series
1. Pandas (Series using List with indexs)
2. Pandas (Series using List with dtype)
3. Accessing the data from series
4. Operations on Pandas Series

### 1. Pandas (Series using List with indexs)

In [1]:
# 1_Pandas (Serires using List with indexs)
import numpy as np
import pandas as pd

In [4]:
list1=[11,22,33,44,55]
ps1=pd.Series(list1,index=['a','b','c','d','e'])
#print(ps1)
ps1

a    11
b    22
c    33
d    44
e    55
dtype: int64

### 2. Pandas (Series using List with dtype)

In [10]:
# 2_Pandas (Series using List with dtype)

import pandas as pd
list1=[11,22,33,44,55]
ps1=pd.Series([11,22,33,44,55],index=['a','b','c','d','e'],dtype='float')
ps1

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
dtype: float64

### 3. Accessing the data from series

In [12]:
# 3_Accessing the data from series

import pandas as pd

list1=[11,22,33,44,55]
s1=pd.Series([11,22,33,44,55])
s1[0] ## value at index '0' will execue >> 11

11

In [14]:
s1[0:3] # execue inclusive of index 0 and execlusive of index 3 (index 0 1 2 ) >> 11 22 33

0    11
1    22
2    33
dtype: int64

### 4. Operations on Pandas Series

In [16]:
# 4_Operation on Pandas Series
import pandas as pd
sr1 =pd.Series([1,2,3,4,5])
sr2 =pd.Series([10,20,30,40,50])
sr1+sr2

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [17]:
sr1*sr2

0     10
1     40
2     90
3    160
4    250
dtype: int64

In [18]:
sr1/sr2

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [19]:
(sr1+sr2)**2

0     121
1     484
2    1089
3    1936
4    3025
dtype: int64

### Exercises

In [23]:
import pandas as pd

sr1 = pd.Series([1,2,3,4])
sr2 = pd.Series([10,20,30,40])

#sr1//sr2
sr1

0    1
1    2
2    3
3    4
dtype: int64

In [24]:
sr2

0    10
1    20
2    30
3    40
dtype: int64

In [25]:
sr1//sr2

0    0
1    0
2    0
3    0
dtype: int64

In [26]:
sr1/sr2

0    0.1
1    0.1
2    0.1
3    0.1
dtype: float64